<?xml version="1.0" ?>
<model>
  <name>navigationbuoy</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>IKM3D and NLR</name>
    <email>casey.nichols@nlr.gov</email>
  </author>
  <description>
    Model from the ReDi Island  Navigation Buoy
  </description>
</model>
